In [ ]:
# Assigning value to variable and printing the variable
tenth = 10
tenth

In [ ]:
X=5
y = 10

print(X,y)

In [ ]:
# integers
a = 7
print(a)

# How to check type of variable
print(type(a))

In [ ]:
# float
x = 1.5
print(x)

# How to check type of variable
print(type(x))

In [ ]:
# boolean
b1 = True
b2 = False

type(b1)

In [ ]:
# string with single quote
name1 = 'your name vvgafdasfasfasfa'
type(name1)
name1

In [ ]:
# string with double quote
name1 = "your name vvgafdasfasfasfa"
type(name1)
name1

In [ ]:
# string with triple quote
name1 = '''
your name vvgafdasfasfasfa.
your name vvgafdasfasfasfa
your name vvgafdasfasfasfa
'''
type(name1)
name1

In [ ]:
#complex numbers: note the use of `j` to specify 
#the imaginary part

j = 1.0 - 2.0j

j

In [ ]:
ten = 10
ten

In [ ]:
ten = 'ten'
ten

In [ ]:
# Need to convert int to string for concatenate with string
'Day ' +str(1)

In [ ]:
# can't concatenate string with integer however 
#we will see concatenation and string comprehention 
#in a later stage

'Day ' + 1

In [ ]:
my_tuple = (1, 2, 3)
print(my_tuple)

In [ ]:
# tuple with mixed data types
my_tuple = (1, "hello", 3.4)
print(my_tuple)

In [ ]:
#nested tuples
my_tuple = ("hello", [8, 4, 2], (1,3,5))
print(my_tuple)

In [ ]:
my_tuple = 3, 4.5, "python"
print(my_tuple)

In [ ]:
a, b, c = my_tuple
print(a, b, c)

In [ ]:
my_tuple = ("Hello")
print(type(my_tuple))

In [ ]:
#creating a tuple with one element
my_tuple = ("Hello", )
print(type(my_tuple))

In [ ]:
my_tuple = "hello",
print(type(my_tuple))

In [ ]:
my_tuple = ("hello", [8, 4, 2], (1,3,5))
print(my_tuple)

my_tuple[0]

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]
print(type(my_list))

In [ ]:
my_list = ['A string',23,100.232,'o',True]

print(my_list)

In [ ]:
my_list[1]

In [ ]:
my_list[-1]

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {True:'value1','key2':'value2','key1':'abc'}
my_dict

In [ ]:
my_dict = {True:'value1','key2':'value2','key1':'valuedfvdfg','key1':'abc'} # Same key check key1 value 
my_dict

In [ ]:
my_dict = {True:'value1','key2':'value2','key1':'valuedfvdfg','key1':'zabc'} # Same key check key1 value
my_dict

In [ ]:
# Call values by their key, accessing values based on key
my_dict['key2']

In [ ]:
# attempting to access element which is not present in dictionary gives key-error
my_dict['3']

In [ ]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d

In [ ]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

# Cast as set to get unique values
l = set(l)
l

In [ ]:
# Difference between two sets
x = {"ineuron", "DS", "Bigdata"}
y = {"bigdata", "Apache", "pyspark"}

print(x.difference(y))
print(y.difference(x))

In [ ]:
x = set()

x

In [ ]:
# We add to sets with the add() method
x.add(3)

x

### NumPy

In [ ]:
#1-Dimensional array
import numpy as np

a = np.array([1,2,3])
print(a)

In [ ]:
#2-D array
b = np.array([[1,2,3],[4,5,6]])
print(b)

In [ ]:
a = np.zeros((2,3))
print(a)

In [ ]:
np.arange(1, 10, 2)

In [ ]:
np.linspace(5,15,10)

In [ ]:
np.full((2,3),6)

In [ ]:
np.random.random((3,3))

In [ ]:
a = np.array([[2,3,4],[5,6,7]])
print(a.size)

In [ ]:
print(a.shape)

In [ ]:
#insepect the shape of the numpy array
print(a, end='\n\n')
print("The original shape of the numpy array is: ",a.shape, end='\n\n')

#reshape
a.shape = (3,2)
print("The shape of the numpy array after reshape is: ",a.shape, end='\n\n')
print(a)

In [ ]:
a = np.arange(24)
print(a, end='\n\n')

print("The dimension of a is ",a.ndim)

In [ ]:
#reshape the NumPy array
b = a.reshape(2,2,6)
print("The dimension of reshape array is ",b.ndim, end='\n\n')

print(b, end='\n\n')
print("The shape of b is", b.shape)

In [ ]:
#additon using values
print(np.sum([10,20]))

#addition using variables
a, b = 10, 20
print(np.sum([a, b]))

#addtion on 2d array
print(np.sum([[1,2],[3,4]]))

In [ ]:
#row wise
print("row wise addition: ",np.sum([[1,2],[3,4]], axis=1))

#column wise
print("column wise addition: ",np.sum([[1,2],[3,4]], axis=0))

In [ ]:
#subtraction
print(np.subtract(20, 10))

In [ ]:
np.multiply(2,3)

In [ ]:
np.divide(10,5)

In [ ]:
from numpy.random import randint as ri
mat = np.array(ri(10,100,15)).reshape(3,5)
print("Matrix of random 2-digit numbers\n--------------------------------\n",mat)
mat>50

In [ ]:
print ("Elements greater than 50\n", mat[mat>50])

In [ ]:
mat = np.array([[11,12,13],[21,22,23],[31,32,33]])
print("Original matrix")
print(mat)

In [ ]:
mat_slice = mat[:2,:2]
print ("\nSliced matrix")
print(mat_slice)

In [ ]:
print ("\nChange the sliced matrix")
mat_slice[0,0] = 1000
print (mat_slice)

### Pandas

In [ ]:
import pandas as pd
 
XYZ_web= {'Day':[1,2,3,4,5,6], "Visitors":[1000, 700,6000,1000,400,350], 
          "Bounce_Rate":[20,20, 23,15,10,34]}
 
df= pd.DataFrame(XYZ_web)
 
df

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
import pandas as pd
 
df1= pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],
                   "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2=pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],
                  "IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
merged= pd.merge(df1,df2)

merged

In [ ]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], 
                    "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],
                    "IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
merged= pd.merge(df1,df2,on ="HPI")
 
merged

In [ ]:
df1 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, 
                   index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, 
                   index=[2001, 2003,2004,2004])
 
joined= df1.join(df2)
joined

In [ ]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], 
                    "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],
                    "IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
concat= pd.concat([df1,df2])
 
concat

In [ ]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], 
                    "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],
                    "IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
concat= pd.concat([df1,df2],axis=1)
 
concat

In [ ]:
import pandas as pd
 
df= pd.DataFrame({"Day":[1,2,3,4], "Visitors":[200, 100,230,300], 
                  "Bounce_Rate":[20,45,60,10]}) 
 
df.set_index("Day", inplace= True)
 
df

In [ ]:
import pandas as pd
 
df = pd.DataFrame({"Day":[1,2,3,4], "Visitors":[200, 100,230,300], 
                   "Bounce_Rate":[20,45,60,10]})
 
df = df.rename(columns={"Visitors":"Users"})
 
df

In [ ]:
import pandas as pd
 
country= pd.read_csv("API_ILO_country_YU.csv",index_col=0)
 
country.head()

In [ ]:
country.to_html('edu.html')

### Matplotlib

In [ ]:
import matplotlib

print(matplotlib.__version__)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#the figure has 1 row, 2 columns, and this plot is the first plot.
plt.subplot(1, 2, 1)

In [ ]:
#the figure has 1 row, 2 columns, and this plot is the second plot.
plt.subplot(1, 2, 2)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

#plot 1:
x = np.array([0, 1, 2, 3])
y = np.array([3, 8, 1, 10])

plt.subplot(1, 2, 1)
plt.plot(x,y)

#plot 2:
x = np.array([0, 1, 2, 3])
y = np.array([10, 20, 30, 40])

plt.subplot(1, 2, 2)
plt.plot(x,y)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

#plot 1:
x = np.array([0, 1, 2, 3])
y = np.array([3, 8, 1, 10])

plt.subplot(2, 1, 1)
plt.plot(x,y)

#plot 2:
x = np.array([0, 1, 2, 3])
y = np.array([10, 20, 30, 40])

plt.subplot(2, 1, 2)
plt.plot(x,y)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = np.array([0, 1, 2, 3])
y = np.array([3, 8, 1, 10])

plt.subplot(2, 3, 1)
plt.plot(x,y)

x = np.array([0, 1, 2, 3])
y = np.array([10, 20, 30, 40])

plt.subplot(2, 3, 2)
plt.plot(x,y)

x = np.array([0, 1, 2, 3])
y = np.array([3, 8, 1, 10])

plt.subplot(2, 3, 3)
plt.plot(x,y)

x = np.array([0, 1, 2, 3])
y = np.array([10, 20, 30, 40])

plt.subplot(2, 3, 4)
plt.plot(x,y)

x = np.array([0, 1, 2, 3])
y = np.array([3, 8, 1, 10])

plt.subplot(2, 3, 5)
plt.plot(x,y)

x = np.array([0, 1, 2, 3])
y = np.array([10, 20, 30, 40])

plt.subplot(2, 3, 6)
plt.plot(x,y)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

#plot 1:
x = np.array([0, 1, 2, 3])
y = np.array([3, 8, 1, 10])

plt.subplot(1, 2, 1)
plt.plot(x,y)
plt.title("SALES")

#plot 2:
x = np.array([0, 1, 2, 3])
y = np.array([10, 20, 30, 40])

plt.subplot(1, 2, 2)
plt.plot(x,y)
plt.title("INCOME")

plt.suptitle("MY SHOP")
plt.show()

### Line Plot

In [ ]:
import matplotlib.pyplot as plt

x = [1, 2, 3, 4, 5, 6]
y = [1, 5, 3, 5, 7, 8]

plt.plot(x, y)
plt.show()

In [ ]:
from matplotlib import pyplot as plt
from matplotlib import style
 
style.use('ggplot')
x = [5,8,10]
y = [12,16,6]
x2 = [6,9,11]
y2 = [6,15,7]
plt.plot(x,y,'g',label='line one', linewidth=5)
plt.plot(x2,y2,'c',label='line two',linewidth=5)
plt.title('Epic Info')
plt.ylabel('Y axis')
plt.xlabel('X axis')
plt.legend()
plt.show()

### Histograms

In [ ]:
population_age = [22,55,62,45,21,22,34,42,42,4,2,102,95,
                  85,55,110,120,70,65,55,111,115,80,75,65,
                  54,44,43,42,48]
bins = [0,10,20,30,40,50,60,70,80,90,100]
plt.hist(population_age, bins, histtype='bar', rwidth=0.8)
plt.xlabel('age groups')
plt.ylabel('Number of people')
plt.title('Histogram')
plt.show()

### Bar Plot

In [ ]:
from matplotlib import pyplot as plt
 
plt.bar([0.25,1.25,2.25,3.25,4.25],[50,40,70,80,20],
label="BMW",width=.5)
plt.bar([.75,1.75,2.75,3.75,4.75],[80,20,20,50,60],
label="Audi",width=.5)
plt.legend()
plt.xlabel('Days')
plt.ylabel('Distance (kms)')
plt.title('Information')
plt.show()

### Scatter Plot

In [ ]:
girls_grades = [89, 90, 70, 89, 100, 80, 90, 100, 80, 34]
boys_grades = [30, 29, 49, 48, 100, 48, 38, 45, 20, 30]
grades_range = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
fig=plt.figure()
ax=fig.add_axes([0,0,1,1])
ax.scatter(grades_range, girls_grades, color='r')
ax.scatter(grades_range, boys_grades, color='b')
ax.set_xlabel('Grades Range')
ax.set_ylabel('Grades Scored')
ax.set_title('scatter plot')
plt.show()

In [ ]:
x = np.array([5,7,8,7,2,17,2,9,4,11,12,9,6]) 
y = np.array([99,86,87,88,111,86,103,87,94,78,77,85,86]) 
plt.scatter(x, y)
plt.legend() 
plt.show()

In [ ]:
#create the random values by using numpy 
values= np.random.normal(100, 20, 300) 
#creating the plot by boxplot() function which is avilable 
#in matplotlib
plt.boxplot(values,patch_artist=True,vert=True) 
plt.show()

In [ ]:
xlist = np.linspace(-3.0, 3.0, 100)
ylist = np.linspace(-3.0, 3.0, 100)
X, Y = np.meshgrid(xlist, ylist)
Z = np.sqrt(X**2 + Y**2)
fig,ax=plt.subplots(1,1)
cp = ax.contourf(X, Y, Z)
fig.colorbar(cp) # Add a colorbar to a plot
ax.set_title('Filled Contours Plot')
#ax.set_xlabel('x (cm)')
ax.set_ylabel('y (cm)')

### Reading the files

In [ ]:
# Reading csv files
import pandas as pd

draft1 = pd.read_csv('example_files/ex1.csv')
#Supply the file name (path)

draft1.head(4)

In [ ]:
# Reading csv file using read_table function
pd.read_table('example_files/ex1.csv', sep=',')

In [ ]:
# Reading csv file without printig headers
pd.read_csv('example_files/ex2.csv', header=None)
# a b c d column/header will not print

In [ ]:
df =pd.read_csv('example_files/ex2.csv', 
                names=['asdfdsfs','fsdf', 'b', 'c', 'sudh', 'message'])
df

In [ ]:
parsed = pd.read_csv('example_files/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

In [ ]:
# Reading tsv files
draft2 = pd.read_table('example_files/test.tsv')  
# Read a tsv into a DataFrame

draft2.head()

In [ ]:
# Reading data from excel file
draft3 = pd.read_excel('example_files/Store_Sales_Data.xlsx',
                       sheet_name = 'Returns') 
#Name of sheet to read from for excel file
draft3.head(6)

In [ ]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"

BB_data = pd.read_html(url)         
# Read data from the specified html url through read_html

BB_data[0].iloc[:, 0:20].head(5)      
# Check 5 rows (10 columns only)

In [ ]:
chunk_size=50000
batch_no=1for chunk in pd.read_csv('yellow_tripdata_2016-02.csv',chunksize=chunk_size):
    chunk.to_csv('chunk'+str(batch_no)+'.csv',index=False)
    batch_no+=1

### Interacting with Databases

In [ ]:
# We will see about database in more detail later in this course.
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database4.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists test")
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata2.sqlite')
con.execute(query)
con.commit()

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

In [ ]:
cursor.description

# Fetching data from database and convert into pandas dataframe
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

In [ ]:
#!/usr/bin/python

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database5.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [ ]:
db.commit()

In [ ]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print((row))
print("-" * 60 )

In [ ]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-"* 60 )

In [ ]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

In [ ]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

In [ ]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

In [ ]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)